
@{
    ViewData["Title"] = "About Index";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("BannerArea", new { title = "About Us" })
<!-- Banner Area End -->
<!-- About Start -->
@await Component.InvokeAsync("AboutArea")
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="title">
                    <h2>meet our teachers</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Teacher", new { take = 4, skip = 1 })
    </div>
</div>
<!-- Teacher End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial")
<!-- Testimonial Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("NoticeVideo")
<!-- Notice End -->

