#home-search{
    background-color:white !important;
    margin:0px !important;
    overflow-y: scroll;
    height: 300px;
}
.search-form{
    
}

#global-search li {
    text-align: center;
    padding: 10px 0;

}

#global-search .global-search-title {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

