
@{
    ViewData["Title"] = "Delete";
    Spiker spiker = Model;
}

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body bg-dark text-white text-center">
            <img src="~/img/event/@spiker.Image" style="width: 200px !important; height: 200px !important; object-fit: cover !important" />
        </div>
        <div class="card-body bg-dark text-white text-center">
            <h5>FullName</h5>  @spiker.FullName
        </div>
        <div class="card-body bg-dark text-white text-center">
            <h4 class="card-text" style="font-family: Montserrat, sans-serif;">Do you want to delete?</h4>
        </div>
        <div class="row bg-dark text-white text-center" style="padding-left: 515px; padding-bottom: 40px;">
            <form method="post" class="bg-dark text-white text-center">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a asp-action="Index" class="btn btn-secondary" style="margin-left: 10px">Go Back</a>
        </div>
    </div>
</div>