@model Spiker

@{ ViewData["Title"] = "Detail"; }

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body">
            <img src="~/img/event/@Model.Image" style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
        <div class="card-body">
            <h5>Spiker Name : <span style="font-weight: 200 !important">@Model.FullName</span> </h5>
        </div>
        <div class="card-body">
            <h5>Profession : <span style="font-weight: 200 !important">@Model.Profession</span> </h5>
        </div>
        <div style="padding: 25px">
            <a asp-action="Index" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</div>